.container {
    background-color: $containerBg;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
}
        .header {
            text-align: center;
            margin: 10px;
        }
