.pagination {
    display: flex;  
    justify-content: center;
    background-color: $containerBg;
    padding-bottom: 20px;
    button{
        background-color:$postTitleColor;
        padding: 10px;
        border: 1px solid black;
        &:first-child {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        &:last-child {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }
}