.post-body {
    background-color: $postBgColor;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    .post-title {
        background-color: $postTitleColor;
        width: 100%;
        h5 {
            text-align: center;
            margin: 0 auto;
            padding: 5px;
            font-size: 1rem;
            text-transform: uppercase;
            span {
                color: white; 
                margin-right: 20px;
            }
        }
    }
}