<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API Post - Zadanie rekrutacyjne</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>
    <div class="app" id="app">
        <h2 class="header">Api posts - zadanie rekrutacyjne</h2>
        <h1 class="header">Krzysztof Siek</h1>
        <section v-if="errored">
            <p>Przepraszamy, ale nie możemy wyświetlić w tej chwili postów. Prosimy spróbować później...</p>
        </section>
        <div v-else class="container">
            <div v-if="loading">Loading...</div>
            <div v-else class="post" v-for="post in displayedPosts" :key="post.id">
                <div class="post-body">
                    <div class="post-title">
                        <h5 class="post-name"> {{post.title}} </h5>
                        <p class="post-autor">Author: <span> {{users[post.userId - 1]}}</span></p>
                        <span class="close-button" @click="deletePost(post.id)"><i
                                class="fas fa-window-close fa-2x"></i></span>
                    </div>
                    <div class="post-content">
                        <p class="short-content">{{post.body.slice(0, 30)}}...</p>
                        <button class="seeMore" @click="readMore(post)">Zobacz więcej...</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <button v-if="page != 1" @click="page--">Previous
            </button> <button class="pages" v-for="pageNumber in pages.slice(page-1, page+2)"
                @click="page = pageNumber">
                {{pageNumber}}
            </button>
            <button @click="page++" v-if="page < pages.length" class="btn btn-sm btn-outline-secondary"> Next
            </button>
        </div>
        <h2>{{page}}</h2>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script src="app.js"></script>
</body>

</html>